<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nombre</key>
		<string>Menu 1</string>
		<key>tiempos</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Desayuno</string>
				<key>contenido</key>
				<string>Quesadillas
	Tortilla de nopal 2 piezas
	Quesa panela 2 rebanadas delgadas</string>
				<key>hora</key>
				<string>9:30 AM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Media mañana</string>
				<key>contenido</key>
				<string>Almendras 10 pzas</string>
				<key>hora</key>
				<string>12:00 AM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Comida</string>
				<key>contenido</key>
				<string>Ensalada
Sopa caldosa 1 taza
Plato fuerte de libre preparación del tamaño de la mano sin guarnición
(Pollo o res o pescado o cerdo cocinado al gusto)
No empanizados ni capeados</string>
				<key>hora</key>
				<string>2:00 PM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Media Tarde</string>
				<key>contenido</key>
				<string>Pera o Platano o Toronja 1 pza o Elote 1/2 lata</string>
				<key>hora</key>
				<string>5:30 PM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Cena</string>
				<key>contenido</key>
				<string>Rollos de Jamón con verdura
	Jamón de pavo 2 rebanadas
	Verdura de la lista libre</string>
				<key>hora</key>
				<string>8:00 PM</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Menu 2</string>
		<key>tiempos</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Desayuno</string>
				<key>contenido</key>
				<string>Huevo a la mexicana o con ejotes o con nopales o campiñones
	Huevo 2 piezas
	Verdura libre
	Aceite 1 cucharadita</string>
				<key>hora</key>
				<string>9:30 AM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Media mañana</string>
				<key>contenido</key>
				<string>Gelatina light 1 taza</string>
				<key>hora</key>
				<string>12:00 AM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Comida</string>
				<key>contenido</key>
				<string>Sopa caldosa 1 taza
Plato fuerte de libre preparación del tamaño de la mano sin guarnición
(Pollo o res o pescado o cerdo cocinado al gusto)
No empanizados ni capeados
o
Tacos 3 piezas
o
Hamburguesa Chica sin papas</string>
				<key>hora</key>
				<string>2:00 PM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Media Tarde</string>
				<key>contenido</key>
				<string>Papayo o Melón 1 taza o carlos V o paleta carlos V 1 pieza</string>
				<key>hora</key>
				<string>5:30 PM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Cena</string>
				<key>contenido</key>
				<string>Tacos de lechuga de atún
	Lechuga 4 hojas
	Atún 1 bolsita o queso panela 2 rebanadas
	Jitomate, pepino, cebolla</string>
				<key>hora</key>
				<string>8:00 PM</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>nombre</key>
		<string>Menu 3</string>
		<key>tiempos</key>
		<array>
			<dict>
				<key>titulo</key>
				<string>Desayuno</string>
				<key>contenido</key>
				<string>Sandwich
	Pan integral 2 rebanadas
	Jamón de pavo 2 rebanadas o atún 1/2 bolsa
	Verdura de la lista libre</string>
				<key>hora</key>
				<string>9:30 AM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Media mañana</string>
				<key>contenido</key>
				<string>Zanahoria baby 1 taza</string>
				<key>hora</key>
				<string>12:00 AM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Comida</string>
				<key>contenido</key>
				<string>Plato fuerte de libre preparación del tamaño de la mano sin guarnición
(Pollo o res o pescado o cerdo cocinado al gusto)
No empanizados ni capeados</string>
				<key>hora</key>
				<string>2:00 PM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Media Tarde</string>
				<key>contenido</key>
				<string>Almendras 10 pzas</string>
				<key>hora</key>
				<string>5:30 PM</string>
			</dict>
			<dict>
				<key>titulo</key>
				<string>Cena</string>
				<key>contenido</key>
				<string>Ensalada de Surimi
	Surimi 2 barras
	Verdura de la lista libre
Salmas 1 paquete</string>
				<key>hora</key>
				<string>8:00 PM</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
